<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<style type="text/css">
			#app {
				max-width: 800px;
				margin: 0 auto;
			}
			
			button {
				margin-right: 8px;
			}
		</style>
	</head>

	<body>

		<div id="app">
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>姓名</th>
					<th>职位</th>
					<th>年龄</th>
					<th><button class="btn btn-primary" data-toggle="modal" data-target="#addModal" v-on:click="addInfo()">添加</button></th>
				</tr>
				<tr v-for="(item,index) in infoData">
					<td>{{index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.positions}}</td>
					<td>{{item.age}}</td>
					<td>
						<button class="btn btn-info" data-toggle="modal" data-target="#editModal" v-on:click="editInfo(index)">编辑</button>
						<button class="btn btn-danger" v-on:click="deleteInfo(index)">删除</button>
					</td>
				</tr>

			</table>
			<!-- 编辑Modal -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">编辑</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="exampleInputEmail1">姓名</label>
								<input type="email" class="form-control" v-model="tempData.name" placeholder="请输入姓名">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">职位</label>
								<input type="text" class="form-control" v-model="tempData.positions" placeholder="请输入职位">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">年龄</label>
								<input type="text" class="form-control" v-model="tempData.age" placeholder="请输入年龄">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="saveInfo()">保存</button>
						</div>
					</div>
				</div>
			</div>
			<!--添加modal-->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">添加</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="exampleInputEmail1">姓名</label>
								<input type="email" class="form-control" v-model="tempData.name" placeholder="请输入姓名">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">职位</label>
								<input type="text" class="form-control" v-model="tempData.positions" placeholder="请输入职位">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">年龄</label>
								<input type="text" class="form-control" v-model="tempData.age" placeholder="请输入年龄">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="saveInfo(true)">添加</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*
			 * @author 李凯旋
			 */
			new Vue({
				el: "#app",
				data: {
					infoData: [],
					tempData: {
						name: "",
						positions: "",
						age: "",
						index: ""
					}
				},
				methods: {
					deleteInfo: function(index) {
						/*
						 * index 要删除的元素在数组中的下标
						 */
						this.infoData.splice(index, 1);
					},
					editInfo: function(index) {
						/*
						 * index 要编辑的元素在数组中的下标
						 */
						for(var item in this.infoData[index]) {
							this.tempData[item] = this.infoData[index][item];
						}
						this.tempData.index = index;
					},
					saveInfo: function(bool) {
						/*
						 * bool 为真则保存添加、不传或者为假则保存编辑
						 */
						if(!!bool) {
							//保存添加

							//临时储存 tempData值 并剔除index属性
							var test = {};
							for(var item in this.tempData) {
								if(item != "index") {
									test[item] = this.tempData[item];
								}
							}
							this.infoData.push(test);
						} else {
							//保存修改
							var index = this.tempData.index;
							for(var item in this.infoData[index]) {
								this.infoData[index][item] = this.tempData[item];

							}
						}

					},
					addInfo: function() {
						//打开添加框时 清空tempData数据
						for(var item in this.tempData) {
							this.tempData[item] = "";
						}
					}
				},
				created: function() {
					var that = this;
					setTimeout(function() {
						that.infoData = [{ name: "李凯旋", positions: "前端实习生", age: 18 },
							{ name: "安帅", positions: "Java工程师", age: 22 },
							{ name: "张文敏", positions: "前端实习生", age: 19 },
							{ name: "岳海峰", positions: "Java工程师", age: 21 },
							{ name: "赵志勇", positions: "CTO", age: 31 }
						];
					}, 2000);

				}

			})
		</script>
	</body>

</html>